.left-nav-bg {
  width: 200px;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .left-nav-bg {
    display: none;
  }
}
.nav-background-dark {
  background-color: #0f0f0f;
}
.nav-background-light {
  background-color: #ffffffff;
}
.nav-content-left {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}
.home-tab {
  background-color: transparent;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;

  align-items: center;
  color: #475569;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  border-width: 0px;
}
.top-tabs-container {
  width: 100%;
}
.home-icon {
  width: 20px;
  height: 20px;

  margin-right: 20px;
  margin-left: 20px;
}

.icon-dark {
  color: #ffffff;
}

.icon-light {
  color: #475569;
}
.contact-us {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;

  margin-left: 20px;
}
.contact-us1 {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  margin-left: 20px;
}
.social-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.social-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
