.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.not-found-img {
  width: 400px;
}

.not-found-heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #212121;
  font-weight: 600;
}

.not-found-description {
  font-family: 'Roboto';
  font-size: 20px;
  color: #616e7c;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .not-found-img {
    width: 200px;
  }
  .not-found-heading {
    font-size: 25px;
  }
  .not-found-description {
    font-size: 15px;
  }
}
