.login-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-dark-bg {
  background-color: #181818;
}
.login-light-bg {
  background-color: #f9f9f9;
  box-shadow: 5px 5px 10px 10px #f1f5f9;
}
.login-card-dark-bg {
  background-color: black;
}

.login-card-light-bg {
  background-color: #ffffffff;
}

.login-form-card {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 64px;
  padding-right: 64px;

  align-items: center;
  width: 35%;
}

.next-watch-logo {
  width: 140px;
  height: 60px;
  align-self: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.name-input {
  font-size: 15px;
  font-family: 'Roboto';
  background-color: transparent;
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
}
.name-input-dark {
  color: #ffffff;
}
.name-input-light {
  color: #475569;
}
.name-label-light {
  color: #ffffff;
}
.name-label-dark {
  color: #475569;
}
.name-input-light {
  border: 1px solid #475569;
}
.name-input-dark {
  border: 1px solid #475569;
}
.label {
  font-size: 14px;
  font-family: 'Roboto';

  font-weight: 600;
}
.label-dark {
  color: #ffffff;
}
.label-light {
  color: #475569;
}
.checkbox {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.checkbox-label {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
}
.checkbox-label-light {
  color: #ffffff;
}
.checkbox-label-dark {
  color: black;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.submit-btn {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #3b82f6;
  color: #ffffff;
  border-radius: 5px;
  border-width: 0px;
  font-weight: 800;
}
.error-message {
  font-size: 14px;
  font-family: 'Roboto';
  color: red;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .login-form-card {
    width: 90%;
  }
  .next-watch-logo {
    width: 100px;
    height: 50px;
  }
  .label {
    font-size: 12px;
  }
  .name-input {
    font-size: 12px;
  }
}
